/* student-table */
.student-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
  text-align: left;
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.student-table thead {
  background-color: #191970;
  color: white;
}

.student-table th,
.student-table td {
  padding: 0.5rem 0.5rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.student-table th.fixed-col,
.student-table td:first-child {
  width: 130px;
  white-space: nowrap;
}

.student-table tbody td {
  color: gray;
}

/* student-course-table */

.student-course-table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-align: left;
  background-color: white;
}

.student-course-table thead {
  background-color: #483D8B;
  color: white;
  padding: 0.3rem 0.3rem;
  border: 1px solid #ccc;
}

.student-course-table th,
.student-course-table td {
  padding: 0.5rem 0.5rem;
  border: 1px solid #ccc;
}
