/* styles.css */
/*student更新テーブル*/
/* テーブルのスタイル */
.student-table {
  border-collapse: collapse;
  width: 800px;
  table-layout: fixed;
  border: 1px solid gray;
  }

/* テーブルのヘッダー */
.student-table th {
  background-color: #203744;
  color: #eaedf7;
  font-weight: bold;
  border: 1px solid gray;
  padding: 8px;
  text-align: center;
}

/* テーブルのセル */
.student-table td {
  border: 1px solid gray;
  padding: 8px;
}

/*studentCourses更新テーブル*/
/* テーブルのスタイル */
.course-table {
  border-collapse: collapse;
  width: 900px;
  table-layout: fixed;
  border: 1px solid gray;
}

/* ヘッダー部分のスタイル */
.course-table th {
  background-color: #203744;
  color: #eaedf7;
  font-weight: bold;
  border: 1px solid gray;
  padding: 8px;
  text-align: center;
}

/* セル（データ部分）のスタイル */
.course-table td {
  border: 1px solid gray;
  padding: 8px;
}

/*共通*/
/* 入力フィールドの背景色 */
.highlight {
  background-color: #ffffe0;
}

/* 補足説明　文字サイズダウン */
.explanation {
  font-size: 80%;
}

/* 必須項目ラベル（縁取り付き） */
.required-label {
  color: red;
  font-weight: bold;
  font-size: 80%;
  margin-left: 5px;
  text-shadow:
    -0.5px -0.5px 0 white,  /* 左上 */
     0.5px -0.5px 0 white,  /* 右上 */
    -0.5px  0.5px 0 white,  /* 左下 */
     0.5px  0.5px 0 white;  /* 右下 */
}